<div class="new-post-container">
  <%= form_for @user, :html => { :class => "new-user" } do |f| %>
    <%= f.label :username, 'Create a new user', class: "form-label" %>
    <%= f.text_field :username, class: "text-field" %>
    <%= f.submit 'Create User', class: "submit-button" %>
  <% end %>
  <%= link_to '<<< Go Back', events_path, class: "go-back" %>
</div>
