<div class="user-name">
  <%= @user.username %>
</div>

<div class="event-list-container">
  <p class="event-category">Created Events:</p>
  <div id="created-events" class="event-container">
    <% if @user.created_events.any? %>
      <% @user.created_events.order(date: :asc).each do |event| %>
        <div class="user-event">
          <%= link_to "Event ##{event.id}", event_path(event.id), 
          class: "event-text" %>
          <div class="event-text"><%= event.date %></div>
        </div>
      <% end %>
    <% else %>
      <p>No created Events</p>
    <% end %>
  </div>
</div>

<div class="event-list-container">
  <p class="event-category">Upcoming Events:</p>
  <div id="upcoming-events" class="event-container">
    <% if @user.attended_events.upcoming_events.any? %>
      <% @user.attended_events.upcoming_events.order(date: :asc).each do |event| %>
        <div class="user-event">
          <%= link_to "Event ##{event.id}", event_path(event.id), 
          class: "event-text" %>
          <div class="event-text"><%= event.date %></div>
        </div>
      <% end %>
    <% else %>
      <p>No Upcoming Events</p>
    <% end %>
  </div>
</div>

<div class="event-list-container">
  <p class="event-category">Previous Events:</p>
  <div id="previous-events" class="event-container">
    <% if @user.attended_events.previous_events.any? %>
      <% @user.attended_events.previous_events.order(date: :desc).each do |event| %>
        <div class="user-event">
          <%= link_to "Event ##{event.id}", event_path(event.id), 
          class: "event-text" %>
          <div class="event-text"><%= event.date %></div>
        </div>
      <% end %>
    <% else %>
      <p>No Previously Attended Events</p>
    <% end %>
  </div>
</div>

<br>
<%= link_to '<<< Go Back', root_path, class: "go-back" %>
