<section id="top-bar" >
  <% if session[:current_user] %>
    <div class="left-button-container">
      <div class="current-user-container">
        <div class="current-user">Current User:</div>
        <div>
        <%= link_to session[:current_user]['username'],
        user_path(session[:current_user]['id']), class: "current-user-name" %>
        </div>
      </div>
      <%= link_to 'New Event', new_event_path, class: "top-buttons" %>
    </div>
    <div class="right-button-container">
      <%= link_to 'Sign Out', user_session_path(session), method: :delete,
      class: "top-buttons" %>
    </div>
  <% else %>
    <div class="left-button-container">
      <%= link_to 'Sign in', new_user_session_path, class: "top-buttons" %>
    </div>
    <div class="right-button-container">
      <%= link_to 'Sign up', new_user_path, class: "top-buttons" %>
    </div>
  <% end %>
</section>

<section id="events">
  <div class="event-list-container">
    <p class="list-category">Upcoming Events:</p>
    <div id="upcoming-events" class="event-container">
      <% if @upcoming_events.any? %>
        <% @upcoming_events.each do |event| %>
          <%= link_to event_path(event.id), class: "event-link" do %>
            <div class="user-event">
              <div>
                <%= "Event ##{event.id}" %>
              </div>
              <div>
                <%= event.date.strftime('%m/%d/%Y') %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>No Upcoming Events</p>
      <% end %>
    </div>
  </div>

  <div class="event-list-container">
    <p class="list-category">Previous Events:</p>
    <div id="previous-events" class="event-container">
      <% if @previous_events.any? %>
        <% @previous_events.each do |event| %>
          <div class="user-event">
            <%= link_to event_path(event.id), class: "event-link" do %>
              <div>
                <%= "Event ##{event.id}" %>
              </div>
              <div>
                <%= event.date.strftime('%m/%d/%Y') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No Previous Events</p>
      <% end %>
    </div>
  </div>
</section>
