<section class="top-bar" >
  <% if session[:current_user] %>
    <div class="current-user-container">
      <div class="current-user">Current User:</div>
      <div class="current-user-name">
      <%= link_to session[:current_user]['username'],
      user_path(session[:current_user]['id']) %>
      </div>
    </div>
    <div class="top-left-buttons">
      <%= link_to 'New Event', new_event_path, class: "top-buttons" %>
    </div>
    <div class="top-right-buttons">
      <%= link_to 'Sign Out', user_session_path(session), method: :delete,
      class: "top-buttons" %>
    </div>
  <% else %>
    <div class="top-left-buttons">
      <%= link_to 'Sign in', new_user_session_path, class: "top-buttons" %>
    </div>
    <div class="top-right-buttons">
      <%= link_to 'Sign up', new_user_path, class: "top-buttons" %>
    </div>
  <% end %>
</section>

<section>
  <div class="event-list-container">
    Upcoming Events:
    <div id="upcoming-events" class="event-container">
      <% if @events.upcoming_events.any? %>
        <% @events.upcoming_events.order(date: :asc).each do |event| %>
          <%= link_to "Event ##{event.id}", event_path(event.id), 
          class: "user-event" %>
          <div class="user-event"><%= event.date %></div>
        <% end %>
      <% else %>
        <p>No Upcoming Events</p>
      <% end %>
    </div>
  </div>

  <div class="event-list-container">
    Previous Events:
    <div id="previous-events" class="event-container">
      <% if @events.previous_events.any? %>
        <% @events.previous_events.order(date: :desc).each do |event| %>
          <%= link_to "Event ##{event.id}", event_path(event.id), 
          class: "user-event" %>
          <div class="user-event"><%= event.date %></div>
        <% end %>
      <% else %>
        <p>No Previous Events</p>
      <% end %>
    </div>
  </div>
</section>
