<div class="show-event-container">
<div class="show-user-event"></div>
  <div class="user-name"><%= @event.creator.username %></div>
  <div class="event-text"><%= "Event ##{@event.id}" %></div>
  <div class="event-text"><%= @event.date.strftime('%m/%d/%Y') %></div>
  <div class="event-text"><%= @event.description %></div>
  <% if @event.attendees.any? %>
    <div class="attendees-container">
      Attendees:
      <% @event.attendees.order(username: :asc).each do |attendee| %>
        <p class="attendee"><%= attendee.username %></p>
      <% end %>
    </div>
  <% end %>
  <% if session[:current_user] && 
  @event.creator.id == session[:current_user]['id'] %>
    <%= render partial: 'invite_to' %>
  <% else %>
    <div></div><!-- some stuff -->
  <% end %>
</div>
</div>

<% if session[:current_user] &&
@event.invites.find_by_recipient_id(session[:current_user]['id']) %>
  <%= render partial: 'attend' %>
<% end %>

<br>
<%= link_to '<<< Go Back', root_path, class: "go-back" %>
