<div class="event-container"></div>
  <div class="user-name"><%= @event.creator.username %>
  <div class="user-event"><%= "Event ##{@event.id}" %></div>
  <div class="user-event"><%= @event.date %></div>
  <div class="user-event"><%= @event.description %>
  <% if @event.attendees.any? %>
    <div class="attendees-container">
      Attendees:
      <% @event.attendees.order(username: :asc).each do |attendee| %>
        <p class="attendee"><%= attendee.username %></p>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'attend' %>

<br>
<%= link_to '<<< Go Back', root_path, class: "go-back" %>
